<div class="container">
  <div class="course-list-layout">
    <md-card *ngIf="students.length > 0; else elseBlock">
      <md-list class="student-list" *ngIf="students">
        <md-list-item *ngFor="let student of students">
          <button md-button (click)="onSelect(student)"> 
              {{ student.profile.name.fullName }}
          </button>
        </md-list-item>
      </md-list>
    </md-card>
    <ng-template #elseBlock>
      <div class="loading-spinner">
        <md-spinner mode="indeterminate"></md-spinner>
      </div>
    </ng-template>
    <router-outlet></router-outlet>
  </div>
</div>