<div class="container">
  <div class="course-list-layout">
    <div class="loading-spinner" *ngIf="loading; else loaded">
        <md-spinner mode="indeterminate"></md-spinner>
    </div>
    <ng-template #loaded>
      <md-card *ngIf="students.length > 0; else elseBlock">
        <md-select placeholder="Select Student" [(ngModel)]="selectedStudent" name="student" (ngModelChange)="onSelect(selectedStudent)">
          <md-option *ngFor="let student of students" [value]="student">
            {{ student.profile.name.fullName }}
          </md-option>
        </md-select>
      </md-card>
      <ng-template #elseBlock>
        <p>There are no students in this class</p>
      </ng-template>
    </ng-template>
    <router-outlet></router-outlet>
  </div>
</div>