.file-list {
    flex-basis: 80rem;
}

.file-card {
    margin-left: 20px;
    margin-bottom: 5px;
}

.file-card-no-comments {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 50%;
    color: #888;
    padding: 0.5em;
}
.comments-card {
    margin: 1em;
}
.replies-card {
    border-top: 1px solid #eee;
    padding-top: 1em;
}